
/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color:rgb(151,146,228);
}

/* bottoni  */

.button{
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
}
.medium{
    padding: 5px 20px;
}
.baby-blue{
    color: white;
}
.button:hover{
    cursor: pointer;
}
/* header  */
header , .baby-blue{
    background-color: rgb(0,132,253);
}
header{
    height: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header .container{
    align-items: center;
}
header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
header li{
    padding-right: 10px;   
}
header i,header ul{
    color: white;
}
header i {
    font-size: 30px;
}
nav.mobile{
    display: none;
}

@media screen and (max-width: 780px){
    
    /* header tablet  */

    nav.mobile{
        display: block;
    }
    nav.desktop
    {
        display: none;
    }
} 
@media screen and (max-width: 480px){
    
    /* header mobile  */

} 


/* main */
main{
    padding-top: 100px;
}
section{
    padding: 40px 0;
}

/* section developer  */

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
}

.col{
    width: 30%;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
.col.bg-lightblue{
    background-color: rgb(181,221,255);
}
.col.big ,.col-about-us.big{
    width: 65%;
    text-align: start;
}
div.col.big.col.bg-lightblue{
    display: flex;
}
div.col.big.col.bg-lightblue div h4{
    color:rgb(0,132,253);
    font-size: 22px;
}
div.col.big.col.bg-lightblue div p{
    padding: 25px 0;
    font-size: 1.1rem;
    font-weight: bold;
}
div.col.big.col.bg-lightblue div button{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 10px 50px;
}
div.col.big.col.bg-lightblue div:first-child{
    padding: 25px 20px;
}
div.col.big.col.bg-lightblue div:last-child{
    display: inline-block;
    text-align: center;
}
div.col.big img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
div.col.big div{
    width: 50%;
}

    /* developer tablet  */

@media screen and (max-width: 780px){

    
    .container .col.big {
        
    }
    .row{
        margin-bottom: 25px;
    }
    div.col.big.col.bg-lightblue{
        display: block;
    }
    div.col.big.col.bg-lightblue div{
        width: 100%;
    }
    div.col.big.col.bg-lightblue div:last-child{
        text-align: left;
    }
    div.col.big img{
        max-width: 60%;
        object-fit: contain;
        display: block; 
    }
    div.col.big.col.bg-lightblue div:last-child{
        display: block;
}
}

    /* developer mobile  */

@media screen and (max-width: 480px){
    .row {
        display: block;
        margin-bottom: 0;
    }
    .col.big , .col{
        width: 100%;
    }
   .container .col{ /*  probabilmente non serve */
        min-height: 0%;
    }
    div.col.big.col.bg-lightblue div:last-child{
        text-align: center;
}
div.col.big img{
    height: 100%; 
    min-width: 100%;  
}
}
/* section planning  */

@media screen and (max-width: 780px){
    #planning .container{
        display: block;
    }
    #planning .container .col{
        width: 100%;
    }
    #planning .container img{
        height: 80vh;
    }
}

@media screen and (max-width: 480px){
    #planning .container img{
        height: 40vh;
    } 
}

#planning .container {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
}
#planning .container:last-child{
    align-items: end;
}
/* section testimonials  */
.card-container{
    border-radius: 15px;
    margin-top: 15px;
    text-align: left;
}
.card-container img{
    float: left;
    border-radius: 100%;
    height: 100%;
}

@media screen and (max-width: 780px){
    .card-container{
        height: 30vh;
    }
}
@media screen and (max-width: 480px){
    .card-container{
        height: 60vh;
    }
}  

/* section benefits  */

.scheda{ /*  potrei collegare parte con .col */
    width: calc(100% / 3 - 5%);
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
}
#benefits .row{
    justify-content: center;
}
@media screen and (max-width: 780px){
   .scheda {
    width: calc(100% / 2 - 3%);
    height: 30vh;
   }
}
@media screen and (max-width: 480px){
    #benefits .row{
        display: block;
    }
    .scheda {
        width: 100%;
        height: 40vh;
       }

}  

/* about us */

#about-us.container{
   justify-content: center;
   gap: 5%
}

.col-about-us{
    width: 30%;
    text-align:start ;
}

@media screen and (max-width: 780px){
    .col-about-us{
        height: 100vh;
    }
}
@media screen and (max-width: 480px){
    .container#about-us{
        display: block;
    }
    .col-about-us{
        width: 100%;
        height: 40vh;
    }
    .col-about-us.big{
        height: 100vh;
    }
}

/* section get started  */

#container-get-started{
    width: 90%;
    margin: 0 auto;
}


@media screen and (max-width: 780px){
#container-get-started{
    height: 50vh;
    width: 100%;
}
}

@media screen and (max-width: 480px){
    #container-get-started{
        height: 60vh;
    }
}

/* footer  */

footer{
    background-color: rgb(51,51,51);
}

.container-footer{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(51,51,51);
}

.container-footer p{
    padding: 30px 0;
}

/* debug 

header .container div {
    width: 100px;
    background-color: blueviolet;
}

nav{
    width: 100px;
    height: 100%;
    background-color: blueviolet;
}

section{
    height: 600px;
}

.col{
    height: 50px;
    border: 1px solid black;
}

#planning .col{
    height: 100%;
}
.card-container{
    height: 100px;
}

.col-about-us{
    border: 1px solid black;
    height: 400px;
}

footer{
    height: 200px;
}
*/