
/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.bg-white{
    background-color: white;
}

.bg-purple{
    background-color:rgb(151,146,228);
}
/* header  */

header{
    background-color: rgb(0,132,253);
    height: 150px;
}

nav.mobile{
    display: none;
}

@media screen and (max-width: 780px){
    
    /* header tablet  */

    nav.mobile{
        display: block;
    }
    nav.desktop
    {
        display: none;
    }
} 
@media screen and (max-width: 480px){
    
    /* header mobile  */

} 


/* main */

section{
    padding: 40px 0;
}

/* section developer  */

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
}

.col{
    width: 30%;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
.col.bg-lightblue{
    background-color: rgb(181,221,255);
}
.col.big ,.col-about-us.big{
    width: 65%;
    text-align: start;
}

    /* developer tablet  */

@media screen and (max-width: 780px){

    
    .container .col.big {
        height: 60vh;
    }
    
    .row{
        margin-bottom: 25px;
    }
}

    /* developer mobile  */

@media screen and (max-width: 480px){
    

    .row {
        display: block;
        margin-bottom: 0;
    }
    .col.big , .col{
        width: 100%;
    }
    .container .col{
        height: 40vh;
        min-height: 0%;
    }
}

/* section planning  */

@media screen and (max-width: 780px){
    #planning .container{
        display: block;
    }
    #planning .container .col{
        width: 100%;
    }
    #planning .container img{
        height: 80vh;
    }
}

@media screen and (max-width: 480px){
    #planning .container img{
        height: 40vh;
    } 
}

#planning .container {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
}
#planning .container:last-child{
    align-items: end;
}
/* section testimonials  */
.card-container{
    border-radius: 15px;
    margin-top: 15px;
    text-align: left;
}
.card-container img{
    float: left;
    border-radius: 100%;
    height: 100%;
}

@media screen and (max-width: 780px){
    .card-container{
        height: 30vh;
    }
}
@media screen and (max-width: 480px){
    .card-container{
        height: 60vh;
    }
}  

/* section benefits  */

.scheda{ /*  potrei collegare parte con .col */
    width: calc(100% / 3 - 5%);
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
}
#benefits .row{
    justify-content: center;
}
@media screen and (max-width: 780px){
   .scheda {
    width: calc(100% / 2 - 3%);
    height: 30vh;
   }
}
@media screen and (max-width: 480px){
    #benefits .row{
        display: block;
    }
    .scheda {
        width: 100%;
        height: 40vh;
       }

}  



/* about us */

#about-us.container{
   justify-content: center;
   gap: 5%
}

.col-about-us{
    width: 30%;
    text-align:start ;
}

@media screen and (max-width: 780px){
    .col-about-us{
        height: 100vh;
    }
}
@media screen and (max-width: 480px){
    .container#about-us{
        display: block;
    }
    .col-about-us{
        width: 100%;
        height: 40vh;
    }
    .col-about-us.big{
        height: 100vh;
    }
}

/* section get started  */

#container-get-started{
    width: 90%;
    margin: 0 auto;
}


@media screen and (max-width: 780px){
#container-get-started{
    height: 50vh;
    width: 100%;
}
}

@media screen and (max-width: 480px){
    #container-get-started{
        height: 60vh;
        
    }
}

/* footer  */

footer{
    background-color: rgb(51,51,51);
}

.container-footer{
    text-align: center;
}

.container-footer p{
    padding-top: 20px;
}

/* debug 

header .container div {
    width: 100px;
    background-color: blueviolet;
}

nav{
    width: 100px;
    height: 100%;
    background-color: blueviolet;
}

section{
    height: 600px;
}

.col{
    height: 50px;
    border: 1px solid black;
}

#planning .col{
    height: 100%;
}
.card-container{
    height: 100px;
}

.col-about-us{
    border: 1px solid black;
    height: 400px;
}

footer{
    height: 200px;
}
*/